In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split

### load data

In [3]:
data = pd.read_csv("Mall_Customers.csv")
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

### uni-variant analysis

### bi-variant analysis

### multi-variant analysis

### descriptive statistics

### missing values

### outliers

### categorical columns

### data scaling

### clustering and add to primary dataset

### split into independent and dependent data

### split into train and test data

### model buliding, training, testing

### performance analysis using metrics