In [1]:
import datetime

import numpy as np
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from xgboost import XGBRegressor

In [2]:
import shutil

In [3]:
shutil.unpack_archive(
    "/content/drive/MyDrive/Data Car Resale Value Prediction (3).zip", 
    extract_dir="."
    )

In [39]:
data = pd.read_csv(
    "Data/autos.csv", encoding="Latin"
)

In [40]:
def infer_columns(X: pd.DataFrame):
    cat_cols = list()
    for colname in X.columns:
        subset = X.loc[:, colname]
        if subset.dtype == "object" or subset.dtype == "category":
            uniq_len = len(X.loc[:, colname].unique())
            print(colname, uniq_len)
            if uniq_len < 10:
                cat_cols.append(colname)

    for catcol in cat_cols:
        X.loc[:, catcol] = X.loc[:, catcol].astype("category")


infer_columns(data)


def convert_appropriate_dtypes(X:pd.DataFrame):
    X["dateCrawled"] = pd.to_datetime(X.dateCrawled)
    X["lastSeen"] = pd.to_datetime(X.lastSeen)
    X["monthOfRegistration"] = pd.to_numeric(X.monthOfRegistration, downcast="integer")
    X["dateCreated"] = pd.to_datetime(X.dateCreated)


convert_appropriate_dtypes(data)


def remove_redundant_data(X: pd.DataFrame):
    # Seller contains only 1 type of data and so remove it.
    X.drop("seller", axis=1, inplace=True)

    # Offer contains Most of the data as Angebot and 12 data as Gesuch so remove it
    X.drop("offerType", axis=1, inplace=True)

    # Both DateCreated and DateCrawled are correlated
    X.drop("dateCrawled", axis=1, inplace=True)

    # nrOfPicture contains no information since it has only 1 data i.e) 0
    X.drop("nrOfPictures", axis=1, inplace=True)


remove_redundant_data(data)

def filter_registration_year(X: pd.DataFrame):
    # REDUCE DATA RANGE BY YEAR OF REGISTRATION
    mini = 1900
    current_year = datetime.date.today().year

    X = X.loc[(X.yearOfRegistration > mini) & (X.yearOfRegistration < current_year)]

    return X

data = filter_registration_year(data)


def translate(X: pd.DataFrame):
    nrd_translate = {
        "ja": "Yes",
        "nein": "no",
    }

    X.notRepairedDamage.replace(nrd_translate, inplace=True)

    gb_translate = {
        "automatik": "automatic",
        "manuell": "manual"
    }

    X.gearbox.replace(gb_translate, inplace=True)

    fueltype_translate = {
        "benzin": "petrol",
        "andere": "other",
        "elektro": "electro"
    }

    X.fuelType.replace(fueltype_translate, inplace=True)

    
translate(data)

dateCrawled 280500
name 233531
seller 2
offerType 2
abtest 2
vehicleType 9
gearbox 3
model 252
fuelType 8
brand 40
notRepairedDamage 3
dateCreated 114
lastSeen 182806

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [50]:
data["gearbox"] = data.gearbox.astype("category")
data["fuelType"] = data.gearbox.astype("category")
data["notRepairedDamage"] = data.notRepairedDamage.astype("category")

array([nan, 'Yes', 'no'], dtype=object)

In [51]:
target = "price"
X = data.drop(target, axis=1)
y = data.loc[:, target]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [53]:



feats_to_use = X_train.columns.drop(["name", "postalCode"])


num_cols = X_train.select_dtypes(include = [int, float]).columns
cat_cols = X_train.select_dtypes(include=["category"]).columns
object_cols = X_train.loc[:,["model", "brand"]].columns


numeric_pipeline = Pipeline(steps=[
    ('impute', SimpleImputer(strategy='mean')),
    ('scale', StandardScaler())
])


categorical_pipeline = Pipeline(steps=[
    ('impute', SimpleImputer(strategy='most_frequent')),
    ('one-hot', OneHotEncoder())
])

object_pipeline = Pipeline(steps=[
    ('impute', SimpleImputer(strategy='most_frequent')),
    ('one-hot', OrdinalEncoder())
])

In [54]:

full_processor = ColumnTransformer(transformers=[
    ('number', numeric_pipeline, num_cols),
    ('category', categorical_pipeline, cat_cols),
    ("object", object_pipeline, object_cols)
])


model_pipeline = Pipeline([
    ("prep_pipe", full_processor),
    ("model", RandomForestRegressor(n_jobs=-1, max_depth=30,max_features="log2"))
])

model_pipeline.fit(X_train, y_train)

Pipeline(steps=[('prep_pipe',
                 ColumnTransformer(transformers=[('number',
                                                  Pipeline(steps=[('impute',
                                                                   SimpleImputer()),
                                                                  ('scale',
                                                                   StandardScaler())]),
                                                  Index(['yearOfRegistration', 'powerPS', 'kilometer', 'postalCode'], dtype='object')),
                                                 ('category',
                                                  Pipeline(steps=[('impute',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('one-hot',
                                                                   OneHotEncoder())]),
                                                  Index(['abtest', 'vehicleType', 'gearbox', 'fuelType', 'notRepairedDamage'], dtype='object')),
                                                 ('object',
                                                  Pipeline(steps=[('impute',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('one-hot',
                                                                   OrdinalEncoder())]),
                                                  Index(['model', 'brand'], dtype='object'))])),
                ('model',
                 RandomForestRegressor(max_depth=30, max_features='log2',
                                       n_jobs=-1))])

In [60]:
import plotly.express as px

In [71]:
data.loc[data.price > 7000000]

,name,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
14663,Tausch_moeglich_Polo_vw_n9,11111111,control,coupe,2003,manual,64,polo,150000,2,manual,volkswagen,NaN,2016-04-03,46535,2016-04-07 10:16:51
20746,Golf3_Schlachtfest,12345678,test,NaN,1995,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-08,18516,2016-03-17 16:15:43
21467,Porsche_911_911R_1_of_20_ORIGINAL_R_nur_798KG!...,9999999,control,coupe,1967,manual,215,911,50000,10,manual,porsche,no,2016-03-19,70435,2016-04-01 10:45:30
39625,Tausche_volvo_v40_gegen_van,12345678,control,NaN,2018,manual,95,v40,150000,6,manual,volvo,no,2016-03-08,14542,2016-04-06 23:17:31
54295,Mazda_5_2.0_CD_DPF_Exclusive,10000000,control,bus,2007,manual,143,5_reihe,150000,2,manual,mazda,no,2016-03-08,83301,2016-03-10 14:17:16
54507,Tausch_DKW_F8_gegen_Lanz_Bulldog,11111111,test,andere,1953,manual,20,NaN,150000,5,manual,audi,no,2016-03-09,7774,2016-04-05 14:46:32
56973,tausche_ford_mondeo_mk3_ghia_gegen_anderes_auto,99999999,control,limousine,2002,manual,131,mondeo,150000,1,manual,ford,NaN,2016-03-18,27574,2016-03-18 18:52:27
69747,Suche_Mercedes_Benz_r_klasse_cdi,99999999,control,bus,2006,NaN,0,andere,150000,0,NaN,mercedes_benz,NaN,2016-03-20,86916,2016-04-06 07:45:57
77520,Tausch_gegen_gleichwertiges,99999999,control,limousine,1999,automatic,224,s_klasse,150000,9,automatic,mercedes_benz,NaN,2016-03-22,73525,2016-04-06 05:15:30
87799,Leasinguebernahme,27322222,control,limousine,2014,manual,163,c4,40000,2,manual,citroen,NaN,2016-03-08,76532,2016-03-08 20:39:05
90853,Verkaufe_oder_Tausche,11111111,control,NaN,2018,NaN,0,NaN,150000,0,NaN,bmw,NaN,2016-04-01,6682,2016-04-05 02:46:37
91106,Verkaufe_oder_tausche_wenn_nur_gegen_Kombi_s4_...,9999999,test,limousine,1996,manual,380,a4,60000,5,manual,audi,no,2016-03-30,47800,2016-03-30 19:46:05
108987,Biete_Hier_zum_Tauschen_an_aber_nur_realistisc...,99999999,test,NaN,2017,manual,110,golf,150000,0,manual,volkswagen,NaN,2016-03-28,35447,2016-04-05 14:16:25
120919,???_?_???____???_?_???____???_?_???,74185296,test,NaN,2000,NaN,0,145,20000,0,NaN,alfa_romeo,NaN,2016-03-25,72072,2016-03-25 12:43:02
121793,Alter_VW_Kaefer_Scheunenfund,10000000,control,NaN,1910,NaN,0,kaefer,100000,0,NaN,volkswagen,NaN,2016-03-05,94436,2016-03-05 21:47:23
127769,Golf_4_laesst_sich_nicht_oeffnen,11111111,test,limousine,2003,manual,75,golf,125000,9,manual,volkswagen,NaN,2016-03-28,38122,2016-03-30 03:18:00
127820,audi_a6_c5_avant,99999999,test,kombi,1999,manual,165,a6,5000,12,manual,audi,no,2016-03-14,28325,2016-03-14 17:49:54
129969,Kaufe_AUTOS_Zum_basteln,2147483647,test,andere,1996,manual,888,NaN,150000,1,manual,sonstige_autos,Yes,2016-03-11,4720,2016-03-20 11:45:35
139052,Mercedes_Benz_CLS_350_CDI_7G_TRONIC,99999999,control,coupe,2009,automatic,224,andere,150000,11,automatic,mercedes_benz,Yes,2016-03-14,56112,2016-03-14 22:40:52
150909,Suche_Autos_Model_egal_welches,99999999,test,NaN,1990,NaN,0,NaN,5000,1,NaN,sonstige_autos,NaN,2016-04-02,6124,2016-04-02 22:41:54
160530,Golf_4_schrott,99999999,test,kleinwagen,2001,NaN,0,golf,20000,0,NaN,volkswagen,NaN,2016-03-29,23992,2016-03-29 12:58:27
171824,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,10000000,control,coupe,1960,manual,368,NaN,100000,1,manual,sonstige_autos,no,2016-03-29,73033,2016-04-06 21:18:11
176070,Suche_BMW_Fun,10000000,test,NaN,1985,automatic,300,NaN,150000,0,automatic,bmw,NaN,2016-04-02,67480,2016-04-02 14:43:10
177744,Suche_Trabant_auf_Ratenzahlung,11111111,control,NaN,1960,NaN,0,NaN,150000,0,NaN,trabant,NaN,2016-03-31,6449,2016-04-06 10:46:11
183361,BMW_e60_nur_Tausch_prins_gasanlage_20_Zoll!_No...,32545461,control,limousine,2004,automatic,175,5er,5000,10,automatic,bmw,NaN,2016-03-26,86316,2016-03-28 00:18:31
185227,Suche_fuer_mein_golf,11111111,test,NaN,2000,NaN,0,NaN,5000,0,NaN,volkswagen,NaN,2016-03-14,19288,2016-04-05 23:16:23
189737,Oldtimer_Goggo_Transporter,99999999,control,kleinwagen,1956,manual,15,NaN,150000,9,manual,sonstige_autos,no,2016-04-03,86899,2016-04-03 12:41:33
196306,Suche_Motorcross_.!,10000000,control,NaN,2017,manual,0,golf,5000,0,manual,volkswagen,NaN,2016-04-01,1454,2016-04-07 05:15:54
210657,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,11111111,test,limousine,1973,manual,48,escort,50000,3,manual,ford,no,2016-03-12,94469,2016-03-12 22:45:27
217547,Fiat_Punto,12345678,test,kleinwagen,2003,manual,60,punto,80000,0,manual,fiat,Yes,2016-03-11,94551,2016-03-11 23:17:24
241847,Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...,12345678,control,limousine,2001,manual,101,vectra,150000,3,manual,opel,no,2016-03-31,4356,2016-03-31 18:56:54
246635,Suche_Vw_Passat..........,99999999,test,NaN,2000,NaN,0,passat,5000,0,NaN,volkswagen,NaN,2016-03-25,7749,2016-04-02 15:15:54
251980,Audi_A6_2.7_TDI_quattro_S_Line_Luftfederung_Bose,99000000,test,limousine,2009,automatic,190,a6,150000,11,automatic,audi,no,2016-03-21,60433,2016-03-25 04:45:53
266124,Audi_A4_b7_8e_no_airride_static_20_Zoll_nur_Ta...,12345678,control,NaN,2006,NaN,0,a4,150000,0,NaN,audi,NaN,2016-04-03,26419,2016-04-06 08:16:46
268173,Schlachte_e36_325i_Umbau,99999999,test,coupe,1992,NaN,240,3er,150000,0,NaN,bmw,NaN,2016-04-01,68782,2016-04-07 05:46:52
273145,Fiat_Punto,12345678,control,NaN,2017,NaN,95,punto,150000,0,NaN,fiat,NaN,2016-03-09,96110,2016-03-09 15:45:47
279937,Mercedes_Benz_CLK_Coupe_280_7G_TRONIC_Sport_Av...,14000500,control,coupe,2008,automatic,231,clk,125000,5,automatic,mercedes_benz,no,2016-04-03,40476,2016-04-03 11:56:00
280059,Kaufe_VW_Golf_1_auch_ohne_TÃœV_________________...,99999999,control,andere,1974,manual,0,golf,150000,6,manual,volkswagen,NaN,2016-03-05,13051,2016-03-24 16:15:27
281833,Coole_Autowerkstatt_in_Esens_gesucht!,10000000,test,NaN,2019,manual,10,NaN,5000,0,manual,sonstige_autos,Yes,2016-03-19,26487,2016-04-06 07:44:29
287835,tausche_o_verkaufe,12345678,test,kombi,2001,manual,101,focus,150000,0,manual,ford,no,2016-03-26,17291,2016-04-01 21:18:10
299872,Vw_polo_6n_Colour_Concept,12345678,test,kleinwagen,1996,manual,60,polo,150000,0,manual,volkswagen,Yes,2016-03-14,56410,2016-04-06 21:17:11
310924,Wer_will_mich_kleinen_polo_6n1,12345678,test,kleinwagen,1997,manual,45,NaN,150000,7,manual,volkswagen,NaN,2016-03-14,18276,2016-04-07 08:16:29
318143,Schlachte_Golf_3_gt_tdi,11111111,test,NaN,1995,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-21,18519,2016-03-21 14:40:18
325589,Tausche/_verkaufe_Golf_1_LX_mit_H_Zulassung,99999999,test,limousine,1983,manual,70,golf,150000,3,manual,volkswagen,no,2016-03-27,28790,2016-04-05 21:44:41
332028,"Golf_3_Gti_""16v_Turbo_vr6_bbs""",11111111,control,NaN,1995,NaN,116,golf,150000,6,NaN,volkswagen,NaN,2016-03-31,72127,2016-04-02 13:47:59
338415,Polo_6n_gti__Zustand_egal_,11111111,test,NaN,2000,NaN,120,polo,125000,0,NaN,volkswagen,NaN,2016-03-26,94577,2016-04-06 15:45:52
347435,Schlachte_Golf_4_1.4_16_fast_alles_noch_da,9999999,test,NaN,2000,manual,75,golf,150000,0,manual,volkswagen,Yes,2016-03-30,39576,2016-04-07 06:44:45
358868,Tausche_BMW_E46_Touring_Diesel,10000000,control,kombi,2002,manual,0,NaN,150000,7,manual,bmw,no,2016-03-16,25821,2016-03-17 15:15:40
361451,Hilfe_Hilfe_Hilfe,10010011,test,NaN,2000,NaN,0,NaN,150000,0,NaN,sonstige_autos,NaN,2016-04-03,44532,2016-04-05 13:18:04
362782,Passat_35i_1.8_90ps_Kombi_frisch_lackiert_!,99999999,test,NaN,1995,NaN,0,passat,150000,0,NaN,volkswagen,NaN,2016-03-06,1809,2016-03-20 08:18:07
363434,Vw_Passat_35i_1.8_schlachtfest,10000000,test,kombi,1996,manual,90,NaN,150000,0,manual,volkswagen,Yes,2016-03-23,36251,2016-03-26 01:16:15
366653,BMW_E36_Cabrio_tausch_gegen_ein_Opel_Insignia,99999999,control,cabrio,1996,manual,192,3er,150000,0,manual,bmw,NaN,2016-03-20,36251,2016-03-20 10:59:52

In [62]:
data.price.describe()

count    3.713460e+05
mean     1.729561e+04
std      3.588832e+06
min      0.000000e+00
25%      1.150000e+03
50%      2.950000e+03
75%      7.200000e+03
max      2.147484e+09
Name: price, dtype: float64

In [74]:
pred = model_pipeline.predict(X_test)

1355955368067.4333

In [76]:
print( mean_absolute_error(y_test, pred) )
print( median_absolute_error(y_test, pred) )

20619.88135522712
640.6999144707661

In [72]:
from sklearn.metrics import median_absolute_error, mean_absolute_error

pred = model_pipeline.predict(X_train)

7609.7298841252405
313.0482041740918
0.852862255017661